<div class="overlay overlay-sunny" style="height: 1026px;"></div>
  <div class="select-band select-band-contents select-band-map wow slideInDown" data-wow-duration="1s" style="margin: 0px; visibility: visible; animation-duration: 1s; animation-name: slideInDown;">
    <div class="table-responsive">
      <table>
        <tbody><tr>
          <td class="trek-contents"><span><a href="river-trek-start.html" class="available"><span><strong>Your River Trek Contents</strong></span></a></span></td>
          <td class="river-navigation"><a href="river-map.html"><span><strong>1.</strong> River Navigation</span></a></td>
          <td class="hydropower"><a href="river-map.html"><span><strong>2.</strong> Hydropower</span></a></td>
          <td class="watershed"><a href="river-map.html"><span><strong>3.</strong> Watershed Management</span></a></td>
          <td class="history"><a href="river-map.html"><span><strong>4.</strong> History &amp; Culture</span></a></td>
          <td class="water-withdrawal"><a href="river-map.html"><span><strong>5.</strong> Water Withdrawal</span></a></td>
        </tr>
      </tbody></table>
    </div>
  </div>
<user-dashboard></user-dashboard>

  <div class="container">
    <div class="row">
      <div class="col-md-12 button-holder">
        <div class="button animated fadeIn">
          <a href="river-map.html" class="btn btn-lg btn-start">Ready to Go</a>
        </div>
      </div>
    </div>
  </div>

  <usernav-component></usernav-component>

  <img src="assets/images/compass.png" class="compass animated slideInUp">
