<body class="backpack">
  <div class="select-band select-band-contents select-band-map wow slideInDown" data-wow-duration="1s" style="margin:0">
    <div class="table-responsive">
      <table>

        <tbody><tr>
          <td class="trek-contents"><span><a href="river-trek-start.html" class="available"><span><strong>Your River Trek Contents</strong></span></a></span></td>
          <td class="river-navigation"><a href="river-map.html"><span><strong>1.</strong> River Navigation</span></a></td>
          <td class="hydropower"><a href="river-map.html"><span><strong>2.</strong> Hydropower</span></a></td>
          <td class="watershed"><a href="river-map.html"><span><strong>3.</strong> Watershed Management</span></a></td>
          <td class="history"><a href="river-map.html"><span><strong>4.</strong> History &amp; Culture</span></a></td>
          <td class="water-withdrawal"><a href="river-map.html"><span><strong>5.</strong> Water Withdrawal</span></a></td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 slider-container">
        <div class="swiper-container backpack-slides">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="text">
                <h4>Create a river journal</h4>
                <p>Shared experiences.</p>
              </div>
              <img src="dist/images/icon-journal.png" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Choose travel modes</h4>
                <p>Select Hike, River Kayak, Lake Canoe</p>
              </div>
              <img src="dist/images/icon-transport-modes.png" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Discover new habitats</h4>
                <p>Select the types flora &amp; fauna</p>
              </div>
              <img src="dist/images/icon-biodiversity.png" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Questions &amp; Answers</h4>
                <p>Current students logged in.</p>
              </div>
              <img src="dist/images/icon-qa.png" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Questions &amp; Answers</h4>
                <p>Current students logged in.</p>
              </div>
              <img src="dist/images/icon-water-test.png" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Create a river journal</h4>
                <p>Shared experiences.</p>
              </div>
              <img src="dist/images/icon-journal.png" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Choose travel modes</h4>
                <p>Select Hike, River Kayak, Lake Canoe</p>
              </div>
              <img src="dist/images/icon-transport-modes.png" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Discover new habitats</h4>
                <p>Select the types flora &amp; fauna</p>
              </div>
              <img src="dist/images/icon-biodiversity.png" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Questions &amp; Answers</h4>
                <p>Current students logged in.</p>
              </div>
              <img src="dist/images/icon-qa.png" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Questions &amp; Answers</h4>
                <p>Current students logged in.</p>
              </div>
              <img src="dist/images/icon-water-test.png" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Create a river journal</h4>
                <p>Shared experiences.</p>
              </div>
              <img src="dist/images/icon-journal.png" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Choose travel modes</h4>
                <p>Select Hike, River Kayak, Lake Canoe</p>
              </div>
              <img src="dist/images/icon-transport-modes.png" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Discover new habitats</h4>
                <p>Select the types flora &amp; fauna</p>
              </div>
              <img src="dist/images/icon-biodiversity.png" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Questions &amp; Answers</h4>
                <p>Current students logged in.</p>
              </div>
              <img src="dist/images/icon-qa.png" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Questions &amp; Answers</h4>
                <p>Current students logged in.</p>
              </div>
              <img src="dist/images/icon-water-test.png" class="img-responsive" alt="">
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="swiper-container user-slides">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="text">
                <h4>Currently logged in:</h4>
                <p>User #1</p>
              </div>
              <img src="dist/images/currently-logged-in-1.jpg" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Currently logged in:</h4>
                <p>User #2</p>
              </div>
              <img src="dist/images/currently-logged-in-2.jpg" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Currently logged in:</h4>
                <p>User #3</p>
              </div>
              <img src="dist/images/currently-logged-in-3.jpg" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Currently logged in:</h4>
                <p>User #4</p>
              </div>
              <img src="dist/images/currently-logged-in-4.jpg" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Currently logged in:</h4>
                <p>User #5</p>
              </div>
              <img src="dist/images/currently-logged-in-5.jpg" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Currently logged in:</h4>
                <p>User #1</p>
              </div>
              <img src="dist/images/currently-logged-in-1.jpg" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Currently logged in:</h4>
                <p>User #2</p>
              </div>
              <img src="dist/images/currently-logged-in-2.jpg" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Currently logged in:</h4>
                <p>User #3</p>
              </div>
              <img src="dist/images/currently-logged-in-3.jpg" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Currently logged in:</h4>
                <p>User #4</p>
              </div>
              <img src="dist/images/currently-logged-in-4.jpg" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Currently logged in:</h4>
                <p>User #5</p>
              </div>
              <img src="dist/images/currently-logged-in-5.jpg" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Currently logged in:</h4>
                <p>User #1</p>
              </div>
              <img src="dist/images/currently-logged-in-1.jpg" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Currently logged in:</h4>
                <p>User #2</p>
              </div>
              <img src="dist/images/currently-logged-in-2.jpg" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Currently logged in:</h4>
                <p>User #3</p>
              </div>
              <img src="dist/images/currently-logged-in-3.jpg" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Currently logged in:</h4>
                <p>User #4</p>
              </div>
              <img src="dist/images/currently-logged-in-4.jpg" class="img-responsive" alt="">
            </div>
            <div class="swiper-slide">
              <div class="text">
                <h4>Currently logged in:</h4>
                <p>User #5</p>
              </div>
              <img src="dist/images/currently-logged-in-5.jpg" class="img-responsive" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 button-holder">
        <div class="button animated fadeIn">
          <a href="river-map.html" class="btn btn-lg btn-start">Ready to Go</a>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-navigation">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline">
            <li><strong>Current User</strong></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="dist/images/weather-elevation.png">
        </div>
      </div>
    </div>
  </div>
  <img src="dist/images/compass.png" class="compass animated slideInUp">
