<div class="overlay overlay-sunny" style="height: 823px;"></div>

  <div class="select-band select-band-contents animated fadeIn">
    <div class="table-responsive">
      <table>
        <tbody><tr>
          <td class="trek-contents"><span><a href="river-trek-start.html" class="available"><span><strong>Your River Trek Contents</strong></span></a></span></td>
          <td class="river-navigation"><a href="river-map.html" class="available"><span><strong>1.</strong> River Navigation</span></a></td>
          <td class="hydropower"><a href="river-map.html" class="available"><span><strong>2.</strong> Hydropower</span></a></td>
          <td class="watershed"><a href="river-map.html" class="available"><span><strong>3.</strong> Watershed Management</span></a></td>
          <td class="history"><a href="river-map.html" class="available"><span><strong>4.</strong> History &amp; Culture</span></a></td>
          <td class="water-withdrawal"><a href="river-map.html" class="available"><span><strong>5.</strong> Water Withdrawal</span></a></td>
        </tr>
      </tbody></table>
    </div>
  </div>

  <div class="container trek-start-message">
    <div class="row">
      <div class="col-md-12">
        <div class="welcome animated fadeIn">
          <h2>Your TN River Trek Contents are provided above.<br> Select an option when you're ready to start.</h2>
        </div>
      </div>
    </div>
    <a routerLink="/backpack"><img src="dist/images/icon-backpack.png" class="backpack-icon"></a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 button-holder">
        <div class="button animated fadeIn">
          <a routerLink="/backpack" class="btn btn-lg btn-start" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Backpack functionality isn't currently available in this prototype. Please try accessing one of the modules above." aria-describedby="tooltip161150">Build a Backback</a><div class="tooltip fade bottom in" role="tooltip" id="tooltip161150" style="top: 144px; left: 524.992px; display: block;"><div class="tooltip-arrow" style="left: 50%;"></div><div class="tooltip-inner">Backpack functionality isn't currently available in this prototype. Please try accessing one of the modules above.</div></div>
          <h3>You will probably want to build a backpack to carry essential items for your River Trek. If you get stuck, click the Backpack icon in the tab to your left and we can help you along.</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-navigation">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline">
            <li><strong>Current User</strong></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="dist/images/weather-elevation.png">
        </div>
      </div>
    </div>
  </div>
  <img src="dist/images/compass.png" class="compass animated slideInUp">
