  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="slider-container">
          <div class="row">
            <div class="slider-labels col-xs-12">
                <a href="#" data-slider="1"><span class="icon pe-is-w-sun-1"></span></a>
                <a href="#" data-slider="2"><span class="icon pe-is-w-partly-cloudy-1"></span></a>
                <a href="#" data-slider="3"><span class="icon pe-is-w-mostly-cloudy-1"></span></a>
                <a href="#" data-slider="4"><span class="icon pe-is-w-moon-1"></span></a>
            </div>
            <div id="slider"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="welcome">
          <img src="/images/mockingbird.png" class="wow fadeInDownBig" data-wow-duration="3s" data-wow-delay="1s">
          <h4 class="hidden-xs hidden-sm"><strong>Welcome to TVA Explorer.</strong> Choose a brightness level in NE corner of the page and a learning level just South of "Explorer".</h4>
          <h4 class="visible-xs visible-sm"><strong>Welcome to TVA Explorer.</strong> Choose a brightness level to the North and a learning level just South of "Explorer".</h4>
        </div>
        <div class="wow fadeIn">
          <h1><strong>TVA</strong> Explorer</h1>
        </div>
        <div class="form-group level-select">
          <label><input type="radio" name="level" value="elementary"> Elementary</label>
          <label><input type="radio" name="level" value="intermediate"> Intermediate</label>
          <label><input type="radio" name="level" value="advanced"> Advanced</label>
        </div>
        <div class="button wow fadeIn">
          <a routerLink="/choose" class="btn btn-lg btn-start">Choose Your Level</a>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-navigation">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline">
            <li><strong>Current User</strong></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="/images/weather-elevation.png">
        </div>
      </div>
    </div>
  </div>
  <img src="/images/compass.png" class="compass animated slideInUp">
