  <div class="container">
    <app-slider></app-slider>
    <div class="row">
      <div class="col-md-12">
        <div class="welcome">
          <img src="assets/images/mockingbird.png" class="wow fadeInDownBig" data-wow-duration="3s" data-wow-delay="1s">
        <welcome-component></welcome-component>
        </div>
        <div class="wow fadeIn">
          <h1><strong>TVA</strong> Explorer</h1>
        </div>
        <div class="form-group level-select">
          <label  *ngFor = "let level of levels"><input type="radio" name="level" value="{{level.name[0].value}}" jcf> &nbsp;&nbsp;{{level.name[0].value}}</label>

        </div>
        <div class="button wow fadeIn">
          <a routerLink="/choose" class="btn btn-lg btn-start">Choose Your Level</a>
        </div>
      </div>
    </div>
  </div>

<usernav-component></usernav-component>
  <img src="assets/images/compass.png" class="compass animated slideInUp">
