<div class="overlay overlay-sunny" style="height: 661px;"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="slider-container">
          <div class="row">
            <div class="slider-labels col-xs-12">
                <a href="#" data-slider="1"><span class="icon pe-is-w-sun-1"></span></a>
                <a href="#" data-slider="2"><span class="icon pe-is-w-partly-cloudy-1"></span></a>
                <a href="#" data-slider="3"><span class="icon pe-is-w-mostly-cloudy-1"></span></a>
                <a href="#" data-slider="4"><span class="icon pe-is-w-moon-1"></span></a>
            </div>
            <div id="slider" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="welcome">
          <img src="dist/images/mockingbird.png" class="wow fadeInDownBig" data-wow-duration="3s" data-wow-delay="1s" style="visibility: visible; animation-duration: 3s; animation-delay: 1s; animation-name: fadeInDownBig;">
          <h4 class="hidden-xs hidden-sm"><strong>Welcome to TVA Explorer.</strong> Choose a brightness level in NE corner of the page and a learning level just South of "Explorer".</h4>
          <h4 class="visible-xs visible-sm"><strong>Welcome to TVA Explorer.</strong> Choose a brightness level to the North and a learning level just South of "Explorer".</h4>
        </div>
        <div class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
          <h1><strong>TVA</strong> Explorer</h1>
        </div>
        <div class="form-group level-select">
          <label><span class="jcf-radio jcf-unchecked"><input name="level" value="elementary" style="position: absolute; opacity: 0;" type="radio"><span></span></span> Elementary</label>
          <label><span class="jcf-radio jcf-unchecked"><input name="level" value="intermediate" style="position: absolute; opacity: 0;" type="radio"><span></span></span> Intermediate</label>
          <label><span class="jcf-radio jcf-unchecked"><input name="level" value="advanced" style="position: absolute; opacity: 0;" type="radio"><span></span></span> Advanced</label>
        </div>
        <div class="button wow fadeIn" style="visibility: hidden; animation-name: none;">
          <a routerLink="/contents" class="btn btn-lg btn-start">Choose Your Level</a>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-navigation">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline">
            <li><strong>Current User</strong></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="dist/images/weather-elevation.png">
        </div>
      </div>
    </div>
  </div>
  <img src="dist/images/compass.png" class="compass animated slideInUp">
